main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
    margin: 40px;
}

.search-bar-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-bar {
    width: 40%;
    padding: 10px;
    border: 1px solid white;
    border-radius: 20px;
    background-color: transparent;
    color: white;
    outline: none;
    margin-bottom: 10px;
}

.left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.genre-dropdown {
    position: relative;
}
.genre-dropdown-content {
    display: none;
    position: absolute;
    width: 45vw;
    background-color: #040112;
    padding: 10px;
    border-radius: 5px;
    top: 110%;
    left: 0;
}

.genre-dropdown:hover .genre-dropdown-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 12px;
}

.genre-item{
    display: block;
    text-decoration: none;
    color: white;
    border: 1px #9da6eb solid;
    background-color: #120b35;
    padding: 10px;
    border-radius: 20px;
}

.genre-item:hover {
    background-color: #9da6eb;
    color: #040112;
}

#letters-container, #numbers-container {
    display: flex;
    justify-content: center;
    gap: 4px;
}
#letters-container div, #numbers-container div {
    display: inline-block;
}

#letters-container a, #numbers-container a {
    text-decoration: None;
    color: white;
}

#letters-container a:hover, #numbers-container a:hover{
    color: #745cb2;
}