main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
    margin: 40px;
}

.search-dropdown {
    position: relative;
}

.search-dropdown:hover #search-dropdown-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#search-dropdown-content {
    display: none;
    position: absolute;
    width: 15vw;
    background-color: #040112;
    padding: 10px;
    border-radius: 5px;
    top: 105%;
    right: -10px;
}

.search-bar {
    width: 80%;
    font-size: 15px;
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 20px;
    background-color: transparent;
    color: white;
    outline: none;
    margin-bottom: 10px;
}

#search-submit {
    background-color: #9da6eb;
    color: #12122b;
    border-radius: 3px;
}

#genres-container {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    gap: 13px;
    justify-content: center;
    margin-bottom: 40px;
}

.genre-item{
    display: block;
    text-decoration: none;
    color: white;
    border: 1px #9da6eb solid;
    background-color: #120b35;
    padding: 10px;
    border-radius: 20px;
}

.genre-item:hover {
    background-color: #9da6eb;
    color: #040112;
}

#letters-container, #numbers-container {
    display: flex;
    justify-content: center;
    gap: 4px;
}
#letters-container div, #numbers-container div {
    display: inline-block;
}

#letters-container a, #numbers-container a {
    text-decoration: None;
    color: #9da6eb;
    font-size: 24px;
}

#letters-container a:hover, #numbers-container a:hover{
    color: #745cb2;
}