body {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
    margin: 40px;
    font-style: oblique;
}

#genres-container {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    gap: 13px;
    justify-content: center;
    margin-bottom: 40px;
}

.genre-item{
    display: block;
    text-decoration: none;
    color: white;
    border: 1px #9da6eb solid;
    background-color: #120b35;
    padding: 10px;
    border-radius: 20px;
}

.genre-item:hover {
    background-color: #9da6eb;
    color: #040112;
}

#letters-container, #numbers-container {
    display: flex;
    justify-content: center;
    gap: 4px;
}
#letters-container div, #numbers-container div {
    display: inline-block;
}

#letters-container a, #numbers-container a {
    text-decoration: None;
    color: #9da6eb;
    font-size: 24px;
}

#letters-container a:hover, #numbers-container a:hover{
    color: #745cb2;
}