main {
    display: flex;
    justify-content: center;
}

#payment-form-container {
    margin-top: 50px;
    width: 25%;
    background-color: #040112;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 30px;
    border-radius: 10px;
    gap: 15px;
}

#payment-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}

#payment-form .payment-section {
    width: 90%;
    border-bottom: 2px solid #161127;
}

#payment-form .payment-field {
    display: block;
    width: 100%;
    background: transparent;
    border: none;
    font-size: 15px;
    color: white;
    padding: 5px;
}

.payment-field:focus {
    border-color: #7d59ef; /* Change border color */
    box-shadow: 0 0 5px rgba(125, 89, 239, 0.5); /* Add box shadow */
    outline: none; /* Remove default outline */
}

#payment-submit {
    margin-top: 20px;
    width: 100%;
    background: linear-gradient(to bottom, #7d59ef, #9d93f3, #c2bbf4);
    border-radius: 20px;
    padding: 8px 10px;
    border: none; /* Remove default border */
    cursor: pointer; /* Change cursor to pointer */
    outline: none; /* Remove default focus outline */
    font-size: 18px;
}

#login-submit:hover {
    background: linear-gradient(to bottom, #5b3cbb, #6f69cd, #9484d1);
}

#payment-error-message {
    color: red;
    font-size: 12px;
}

.total-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: none;
}

.total-section h3, #total-price{

}