main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.shopping-cart-container {
    width: 70%;
    margin-top: 70px;
    background-color: #040112;
    padding: 60px;
}

.shopping-cart-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shopping-cart-container h1 {
    margin-bottom: 10px;
}

.table-container {
    border-radius: 0;
}

#shopping-cart-table tr:last-child {
    border-top: 3px solid #9d93f3;
}

#shopping-cart-table .table-head {
    text-align: left;
    color: #9d93f3;
    font-weight: bold;
    background-color: transparent;
    font-size: 21px;
}

#shopping-cart-table .table-body {
    font-size: 15px;
}

.movie-title-container {
    display: flex;
    justify-content: space-between;
}

.cart-btn {
    display: inline-block;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    color: white;
    font-size: 18px;
    margin: 3px;
}

.btn-delete {
    font-size: 16px;
}

.btn-delete:hover, .btn-increase:hover, .btn-decrease:hover {
    color: #c284d7;
}

#shopping-cart-table #payment-btn {
    border: none;
    cursor: pointer;
    display: block;
    outline: none;
    color: #040112;
    font-size: 15px;
    background-color: #c284d7;
    border-radius: 8px;
    padding: 5px 10px;
    width: fit-content;
}

#shopping-cart-table #payment-btn:disabled {
    background-color: #7d508a;
}

#shopping-cart-table tr:last-child td:first-child {
    padding: 10px 0;
}

