body {
    display: flex;
    flex-direction: column;
}

h1 {
    margin-top: 30px;
    font-style: oblique;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.star-card {
    width: 60%;
    margin: 50px;
    border-radius: 10px;
    overflow: hidden;
}

.star-info {
    display: flex;
    align-items: baseline;
    margin: 0 0 15px 30px;
}

#star_dob {
    margin-left: 10px;
}



